.conteiner {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 50px;
    margin: 0 auto;
    outline: 2px solid red;

    @media screen and (min-width: 480px) {
            max-width: 480px;
            height: auto;
        }

    @media screen and (min-width: 768px) {
            max-width: calc((100% - 30px)/2);
            }
}