.modal-button{
    background-color: var(--color-white);
    border: 1px solid #0000001A;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    
    transition-property: fill;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-tim-fun);
    }
    .modal-button:hover{
    fill: var(--color-change);
    }
    .modal-button:focus {
    fill: var(--color-change);
    }

    .send-button{margin-top: 30px;}