.heroy{
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    background-color: var(--color-bckg);
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url(../images/fon_img.jpg);
    max-width: 1600px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    &__title{
    padding-left: 252px;
    padding-right: 252px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.33;
    color:var(--color-white);
    text-transform: uppercase;
    text-align-last: center;
    }
}