.skill-list
{list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;


&__item{
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 100%;
// width: calc((100% - 90px)/4);
}
&__image{
// display: block;
display: flex;
align-items: center;
justify-content: center;
max-width: 100%;
width: 100%;
height: auto;


// height: 120px;
border-radius: 4px;
background-color: var(--color-filter);
margin-bottom: 30px;
padding-top: 25px;
    padding-bottom: 25px;
// @extend %position;
}

&__title{
font-weight:var(--font-weig-b);
font-size: 14px;
line-height:var(--line-nav);
color:var(--color-link);
margin-bottom: 10px;
width: 270px;
height: 16px;
display: flex;
justify-content: center;

}

&__paragraf{
font-size: 14px;
line-height: 1.714;
color:var(--color-main);
}
}




